In [2]:
from pathlib import Path
import pandas as pd
import sys

ROOT_DIR = Path().cwd().parent


if str(ROOT_DIR) not in sys.path:
    sys.path.insert(0, str(ROOT_DIR))

from src.data import load_daily_data
from src.models import ChartsDailyData

In [3]:
from src.config import config

dict_filename = f"../data/{config.general.data_filename}"
data_filename = dict_filename.replace(".feather", "_data.feather")

chart_data = ChartsDailyData(dict_filename, data_filename)
print("Charts loaded:", len(chart_data.charts))

Charts loaded: 3449

In [4]:
df,metadata = chart_data.load_chart(5)
df

metadata for daily chart: {'ticker': 'STSS', 'date_str': '2025-06-04', 'date': Timestamp('2025-06-04 00:00:00'), 'timeframe': '1D', 'index': 5}

   ticker       date   open    high     low  close    volume  SMA_5
0    STSS 2025-05-05  4.630  4.7294  4.3350   4.65    107008    NaN
1    STSS 2025-05-06  5.160  5.3999  4.6500   4.70    233244    NaN
2    STSS 2025-05-07  4.650  4.8000  4.4500   4.66    147277    NaN
3    STSS 2025-05-08  4.670  5.1800  4.6700   5.05    174613    NaN
4    STSS 2025-05-09  5.050  5.1330  4.6800   4.73    157115  4.758
5    STSS 2025-05-12  4.670  4.7390  4.4635   4.66    135465  4.760
6    STSS 2025-05-13  4.650  4.6500  4.3500   4.55     84604  4.730
7    STSS 2025-05-14  4.680  4.8100  4.3700   4.56     97593  4.710
8    STSS 2025-05-15  4.550  4.5500  4.4156   4.51     50741  4.602
9    STSS 2025-05-16  4.430  4.5700  4.1501   4.57     76318  4.570
10   STSS 2025-05-19  4.200  4.3900  4.1205   4.28     92112  4.494
11   STSS 2025-05-20  4.200  4.3700  3.9220   4.10     98744  4.404
12   STSS 2025-05-21  4.020  4.1000  3.6500   3.81     81177  4.254
13   STSS 2025-05-22  3.980  3.9992  3.8301   3.94     80411  4.140
14   STSS 2025-05-23  3.800  4.1300  3.8000   4.05     62408  4.036
15   STSS 2025-05-27  4.030  4.0700  3.8000   3.83     47904  3.946
16   STSS 2025-05-28  3.820  3.9000  3.6000   3.80     43140  3.886
17   STSS 2025-05-29  3.830  3.8300  3.6500   3.80     40158  3.884
18   STSS 2025-05-30  3.780  3.8599  3.6500   3.75     37798  3.846
19   STSS 2025-06-02  3.680  3.7800  3.4432   3.57     33694  3.750
20   STSS 2025-06-03  3.570  3.7450  3.4700   3.74     38044  3.732
21   STSS 2025-06-04  5.855  7.0400  5.1800   6.31  49530409  4.234
22   STSS 2025-06-05  6.230  6.9199  5.6752   5.79   1175864  4.632
23   STSS 2025-06-06  6.100  6.5600  5.8318   5.87    513882  5.056

In [13]:
path = Path.cwd() / config.general.data_path
filename = config.general.data_filename
dict_filename = path / filename
min_data_filename = dict_filename.with_name(dict_filename.stem.replace(".feather", "") + "_min_data.feather")
print("Min data filename:", min_data_filename)
print("dict_filename:", dict_filename)

Min data filename: d:\Python\DC_charts_loader\nbs\data\0014_50_pct_gappers_20031008_20250606_min_data.feather
dict_filename: d:\Python\DC_charts_loader\nbs\data\0014_50_pct_gappers_20031008_20250606.feather

In [5]:
from lightweight_charts import Chart
chart = Chart()
# chart.set(df.drop(columns=["ticker"]))
chart.set(df)
chart.watermark("Random Data Example")
chart.show(block=True)

RuntimeError: asyncio.run() cannot be called from a running event loop

In [9]:

for col in df.columns:
    if df[col].dtype == np.float32:
        df[col] = df[col].astype(np.float64)
        
df.dtypes

ticker          category
date      datetime64[ns]
open             float64
high             float64
low              float64
close            float64
volume             int64
dtype: object

In [12]:

df = load_daily_data(ticker, date, df_data)
print("Loaded data shape:", df.shape)
print("Data sample:")
df

Loaded data shape: (81, 9)
Data sample:

,ticker,date,open,high,low,close,volume,adjusted,type
0,AA,2016-09-12,9.520000,9.800000,9.430000,9.780000,21681919,False,CS
1,AA,2016-09-12,9.520000,9.800000,9.430000,9.780000,21681919,False,CS
2,AA,2016-09-13,9.630000,9.645000,9.450000,9.520000,18507673,False,CS
3,AA,2016-09-13,9.630000,9.645000,9.450000,9.520000,18507673,False,CS
4,AA,2016-09-14,9.690000,9.690000,9.360000,9.390000,15719147,False,CS
...,...,...,...,...,...,...,...,...,...
76,AA,2016-11-04,23.820000,25.500000,23.559999,25.200001,6878773,False,CS
77,AA,2016-11-04,23.820000,25.500000,23.559999,25.200001,6878773,False,CS
78,AA,2016-11-07,25.540001,26.410000,24.889999,25.080000,8377625,False,CS
79,AA,2016-11-08,24.299999,26.590000,24.299999,26.400000,6471469,False,CS
80,AA,2016-11-09,26.830000,29.139999,26.000000,28.719999,10676056,False,CS