In [1]:
from pathlib import Path
import pandas as pd
import sys

ROOT_DIR = Path().cwd().parent


if str(ROOT_DIR) not in sys.path:
    sys.path.insert(0, str(ROOT_DIR))

from src.data import load_daily_data
from src.models import ChartsDailyData

In [ ]:
dict_filename = "../data/0008_80_pct_hl2_movers_scan_20030919_20250402.feather"
data_filename = dict_filename.replace(".feather", "_data.feather")

chart_data = ChartsDailyData(dict_filename, data_filename)
print("Charts loaded:", len(chart_data.charts))

Charts loaded: 13369

In [11]:
df = chart_data.load_chart(5)
print(df.dtypes)
df.drop(columns=["ticker"])

ticker          category
date      datetime64[ns]
open             float32
high             float32
low              float32
close            float32
volume             int64
dtype: object

          date  open    high   low  close  volume
0   2021-12-06  1.27  1.3942  1.25   1.39   27550
1   2021-12-06  1.27  1.3942  1.25   1.39   27550
2   2021-12-07  1.38  1.5899  1.27   1.53   32129
3   2021-12-07  1.38  1.5899  1.27   1.53   32129
4   2021-12-07  1.38  1.5899  1.27   1.53   32129
..         ...   ...     ...   ...    ...     ...
120 2022-02-02  1.66  1.7100  1.50   1.63  400447
121 2022-02-02  1.66  1.7100  1.50   1.63  400447
122 2022-02-03  1.60  1.6400  1.54   1.54   32379
123 2022-02-03  1.60  1.6400  1.54   1.54   32379
124 2022-02-03  1.60  1.6400  1.54   1.54   32379

[125 rows x 6 columns]

In [10]:
import numpy as np
n = 100
dates = pd.date_range("2024-06-01", periods=n)
data = {
    "date": dates,
    "open": np.random.uniform(100, 200, n),
    "high": np.random.uniform(200, 300, n),
    "low": np.random.uniform(50, 100, n),
    "close": np.random.uniform(100, 200, n),
    "volume": np.random.randint(1000, 10000, n),
}
df_random = pd.DataFrame(data)
print(df_random.dtypes)
df_random

date      datetime64[ns]
open             float64
high             float64
low              float64
close            float64
volume             int32
dtype: object

         date        open        high        low       close  volume
0  2024-06-01  114.630235  210.006699  58.713384  133.223615    9413
1  2024-06-02  163.587454  253.716228  73.084583  169.771755    3163
2  2024-06-03  117.371837  263.961433  98.054564  194.127404    8060
3  2024-06-04  172.443807  289.463861  77.234867  183.535253    8258
4  2024-06-05  103.726722  223.998288  75.015751  178.244747    7817
..        ...         ...         ...        ...         ...     ...
95 2024-09-04  118.860294  201.285923  68.039336  103.471260    9196
96 2024-09-05  189.231482  235.545519  52.724886  138.796193    9002
97 2024-09-06  172.637833  271.905020  73.019968  149.535626    1617
98 2024-09-07  132.493213  273.068416  98.538282  147.383800    9478
99 2024-09-08  107.455941  294.460273  78.161285  183.155596    2898

[100 rows x 6 columns]

    ticker       date    open    high     low   close    volume
0     AACG 2021-12-06  1.2700  1.3942  1.2500  1.3900     27550
2     AACG 2021-12-07  1.3800  1.5899  1.2700  1.5300     32129
5     AACG 2021-12-08  1.5000  1.5800  1.4000  1.4200     79841
8     AACG 2021-12-09  1.4400  1.6300  1.3400  1.5700     83908
11    AACG 2021-12-10  1.6500  1.6500  1.5000  1.5700     10430
14    AACG 2021-12-13  1.5700  1.5700  1.4046  1.4200     23037
17    AACG 2021-12-14  1.4203  1.4900  1.3524  1.4200     10684
20    AACG 2021-12-15  1.3100  1.4000  1.1035  1.3400     53057
23    AACG 2021-12-16  1.3900  1.3947  1.2500  1.3000     25903
26    AACG 2021-12-17  1.2800  1.3000  1.2500  1.2700     26255
29    AACG 2021-12-20  1.2600  1.2600  1.1200  1.1500     53198
32    AACG 2021-12-21  1.2400  1.2780  1.1494  1.1900     22146
35    AACG 2021-12-22  1.1800  1.3000  1.1800  1.2200     33288
38    AACG 2021-12-23  1.2800  1.2800  1.1600  1.2400     29131
41    AACG 2021-12-27  1.2500  1.2637  1.1501  1.1800     28387
44    AACG 2021-12-28  1.1200  1.1800  1.1200  1.1700     26754
47    AACG 2021-12-29  1.1700  1.1700  1.0400  1.0600     76661
50    AACG 2021-12-30  1.0800  1.1199  1.0000  1.0400    116353
53    AACG 2021-12-31  1.0600  1.1000  1.0588  1.0705     59408
56    AACG 2022-01-03  1.1700  1.3100  1.1500  1.1900    127829
59    AACG 2022-01-04  1.2500  2.5900  1.2500  2.5500  14934689
62    AACG 2022-01-05  1.8000  2.6400  1.7200  2.3000   8067429
65    AACG 2022-01-06  1.8900  2.3406  1.8700  1.9800   2050704
68    AACG 2022-01-07  1.9300  2.9400  1.8500  2.6400   9718034
71    AACG 2022-01-10  2.4400  2.6500  2.1900  2.1900   1410378
74    AACG 2022-01-11  2.1900  2.5499  2.1600  2.2900   1542074
77    AACG 2022-01-12  2.2900  2.2900  1.9500  2.0100    516758
80    AACG 2022-01-13  1.9400  2.0013  1.8216  1.8600    290693
83    AACG 2022-01-14  1.8500  2.0900  1.8300  1.9100    191928
86    AACG 2022-01-18  1.8200  1.8899  1.7000  1.7600    184474
89    AACG 2022-01-19  1.7600  1.8799  1.6300  1.8200    121926
92    AACG 2022-01-20  1.8250  1.8768  1.7100  1.8300     64488
95    AACG 2022-01-21  1.8100  1.8100  1.7200  1.7500     88171
98    AACG 2022-01-24  1.7100  1.7200  1.5500  1.7000    131841
101   AACG 2022-01-25  1.7000  1.7587  1.7000  1.7200     48216
104   AACG 2022-01-26  1.7900  1.8000  1.6000  1.6800     64231
107   AACG 2022-01-27  1.6435  1.7145  1.5400  1.5400     49930
110   AACG 2022-01-28  1.5300  1.5755  1.4800  1.5500     28507
113   AACG 2022-01-31  1.6600  1.6600  1.4800  1.5600     27410
116   AACG 2022-02-01  1.5300  1.6500  1.5200  1.6100     55999
119   AACG 2022-02-02  1.6600  1.7100  1.5000  1.6300    400447
122   AACG 2022-02-03  1.6000  1.6400  1.5400  1.5400     32379

In [5]:
from lightweight_charts import Chart
chart = Chart()
# chart.set(df.drop(columns=["ticker"]))
chart.set(df)
chart.watermark("Random Data Example")
chart.show(block=True)

RuntimeError: asyncio.run() cannot be called from a running event loop

In [9]:

for col in df.columns:
    if df[col].dtype == np.float32:
        df[col] = df[col].astype(np.float64)
        
df.dtypes

ticker          category
date      datetime64[ns]
open             float64
high             float64
low              float64
close            float64
volume             int64
dtype: object

In [12]:

df = load_daily_data(ticker, date, df_data)
print("Loaded data shape:", df.shape)
print("Data sample:")
df

Loaded data shape: (81, 9)
Data sample:

,ticker,date,open,high,low,close,volume,adjusted,type
0,AA,2016-09-12,9.520000,9.800000,9.430000,9.780000,21681919,False,CS
1,AA,2016-09-12,9.520000,9.800000,9.430000,9.780000,21681919,False,CS
2,AA,2016-09-13,9.630000,9.645000,9.450000,9.520000,18507673,False,CS
3,AA,2016-09-13,9.630000,9.645000,9.450000,9.520000,18507673,False,CS
4,AA,2016-09-14,9.690000,9.690000,9.360000,9.390000,15719147,False,CS
...,...,...,...,...,...,...,...,...,...
76,AA,2016-11-04,23.820000,25.500000,23.559999,25.200001,6878773,False,CS
77,AA,2016-11-04,23.820000,25.500000,23.559999,25.200001,6878773,False,CS
78,AA,2016-11-07,25.540001,26.410000,24.889999,25.080000,8377625,False,CS
79,AA,2016-11-08,24.299999,26.590000,24.299999,26.400000,6471469,False,CS
80,AA,2016-11-09,26.830000,29.139999,26.000000,28.719999,10676056,False,CS