In [4]:
from pathlib import Path
import pandas as pd
import sys

ROOT_DIR = Path().cwd().parent

if str(ROOT_DIR) not in sys.path:
    sys.path.insert(0, str(ROOT_DIR))

from src.config import config
from src.models import ChartsDailyData

In [5]:
dict_filename = "../data/default.feather"
data_filename = dict_filename.replace(".feather", "_data.feather")

chart_data = ChartsDailyData(dict_filename, data_filename)

In [6]:
chart_data.data
# The data is stored in chart_data.data, but simply referencing it does not display it in Jupyter.
# To display the DataFrame, use the display() function or just put chart_data.data as the last line.

       ticker       date  open    high   low  close  volume  SMA_5
0        AACG 2021-12-06  1.27  1.3942  1.25   1.39   27550    NaN
1        AACG 2021-12-07  1.38  1.5899  1.27   1.53   32129    NaN
2        AACG 2021-12-08  1.50  1.5800  1.40   1.42   79841    NaN
3        AACG 2021-12-09  1.44  1.6300  1.34   1.57   83908    NaN
4        AACG 2021-12-10  1.65  1.6500  1.50   1.57   10430  1.496
...       ...        ...   ...     ...   ...    ...     ...    ...
172897   ZYNE 2023-09-07  1.32  1.3300  1.32   1.32  480510  1.324
172898   ZYNE 2023-09-08  1.32  1.3350  1.31   1.32  487883  1.322
172899   ZYNE 2023-09-11  1.32  1.3300  1.31   1.33  577572  1.324
172900   ZYNE 2023-09-12  1.32  1.3300  1.32   1.32  276683  1.322
172901   ZYNE 2023-09-13  1.32  1.3600  1.32   1.33  902993  1.324

[172902 rows x 8 columns]