In [1]:
from pathlib import Path
import pandas as pd
import sys

ROOT_DIR = Path().cwd().parent

if str(ROOT_DIR) not in sys.path:
    sys.path.insert(0, str(ROOT_DIR))

from src.config import config
from src.models import ChartsDailyData
from src.data import load_min_data

In [2]:
dict_filename = "../data/default.feather"
data_filename = dict_filename.replace(".feather", "_data_min.feather")
min_df = load_min_data(data_filename)
test_df = min_df.loc[min_df["ticker"]=="ZKIN"]
# chart_data = ChartsDailyData(dict_filename, data_filename)

In [3]:
#fake data for testing
df_list = []
for i in range(-10,10):
    if i == 0: continue
    temp_df = test_df.copy()
    temp_df["datetime"] = temp_df["datetime"] + pd.Timedelta(days=i)
    temp_df["_date"] = temp_df["_date"] + pd.Timedelta(days=i)
    df_list.append(temp_df)
test_df = pd.concat(df_list, ignore_index=True)

test_df = test_df.sort_values(by=["ticker", "datetime"]).reset_index(drop=True)
test_df

,ticker,volume,open,close,high,low,_date,datetime
0,ZKIN,254252,1.79,1.7900,1.9300,1.69,2025-04-28,2025-04-28 04:00:00
1,ZKIN,173366,1.77,1.7000,1.7700,1.65,2025-04-28,2025-04-28 04:01:00
2,ZKIN,86975,1.71,1.6800,1.7400,1.68,2025-04-28,2025-04-28 04:02:00
3,ZKIN,161502,1.67,1.6700,1.7000,1.63,2025-04-28,2025-04-28 04:03:00
4,ZKIN,139175,1.67,1.6300,1.6700,1.60,2025-04-28,2025-04-28 04:04:00
...,...,...,...,...,...,...,...,...
18235,ZKIN,10592,3.96,3.9600,3.9600,3.93,2025-05-17,2025-05-17 19:55:00
18236,ZKIN,37834,3.96,4.0000,4.0200,3.93,2025-05-17,2025-05-17 19:56:00
18237,ZKIN,17151,3.99,4.0013,4.0900,3.97,2025-05-17,2025-05-17 19:57:00
18238,ZKIN,10150,4.00,4.0000,4.0125,4.00,2025-05-17,2025-05-17 19:58:00
18239,ZKIN,51526,4.01,4.0000,4.1000,3.97,2025-05-17,2025-05-17 19:59:00

In [ ]:
import numpy as np

def load_min_chart(ticker: str, date, data: pd.DataFrame, n_days = None) -> pd.DataFrame:
    """
    Loads a subset of daily data for a given ticker and date range.
    Parameters:
        ticker (str): The ticker symbol to filter the data.
        date (datetime): The reference date around which to load data.
        data (pd.DataFrame): The DataFrame containing at least 'ticker' and 'date' columns.
    Returns:
        pd.DataFrame: A DataFrame containing rows for the specified ticker,
        with 'date' within Â±N_DAYS of the given date, sorted by date and with reset index.

    """
    n_days = n_days if n_days is not None else config.chart.n_days_intraday
    n_days = pd.Timedelta(days=n_days)
    
    conditions = [
        (data["ticker"] == ticker),
        (data["datetime"] >= date - n_days),
        (data["datetime"] <= date + n_days),
    ]

    # Merge or process as needed, here we just return the data
    result = data.loc[np.logical_and.reduce(conditions)].copy()
    result["datetime"] = result["datetime"].astype(str)
    return result

idx = -1
ticker = min_df["ticker"].iloc[idx]
date = min_df["_date"].iloc[idx]
chart_data = load_min_chart(ticker, date, test_df)

chart_data

#check min data

,ticker,volume,open,close,high,low,_date,datetime
0,ZKIN,254252,1.79,1.7900,1.9300,1.69,2025-04-28,2025-04-28 04:00:00
1,ZKIN,173366,1.77,1.7000,1.7700,1.65,2025-04-28,2025-04-28 04:01:00
2,ZKIN,86975,1.71,1.6800,1.7400,1.68,2025-04-28,2025-04-28 04:02:00
3,ZKIN,161502,1.67,1.6700,1.7000,1.63,2025-04-28,2025-04-28 04:03:00
4,ZKIN,139175,1.67,1.6300,1.6700,1.60,2025-04-28,2025-04-28 04:04:00
...,...,...,...,...,...,...,...,...
18235,ZKIN,10592,3.96,3.9600,3.9600,3.93,2025-05-17,2025-05-17 19:55:00
18236,ZKIN,37834,3.96,4.0000,4.0200,3.93,2025-05-17,2025-05-17 19:56:00
18237,ZKIN,17151,3.99,4.0013,4.0900,3.97,2025-05-17,2025-05-17 19:57:00
18238,ZKIN,10150,4.00,4.0000,4.0125,4.00,2025-05-17,2025-05-17 19:58:00
18239,ZKIN,51526,4.01,4.0000,4.1000,3.97,2025-05-17,2025-05-17 19:59:00

In [6]:
from src.models import ChartsMinuteData
chart_data = ChartsMinuteData(dict_filename, data_filename)

chart_data.load_chart()

(      ticker  volume  open   close    high   low      _date  \
 10224   ZKIN  254252  1.79  1.7900  1.9300  1.69 2025-05-08
 10225   ZKIN  173366  1.77  1.7000  1.7700  1.65 2025-05-08
 10226   ZKIN   86975  1.71  1.6800  1.7400  1.68 2025-05-08
 10227   ZKIN  161502  1.67  1.6700  1.7000  1.63 2025-05-08
 10228   ZKIN  139175  1.67  1.6300  1.6700  1.60 2025-05-08
 ...      ...     ...   ...     ...     ...   ...        ...
 11179   ZKIN   10592  3.96  3.9600  3.9600  3.93 2025-05-08
 11180   ZKIN   37834  3.96  4.0000  4.0200  3.93 2025-05-08
 11181   ZKIN   17151  3.99  4.0013  4.0900  3.97 2025-05-08
 11182   ZKIN   10150  4.00  4.0000  4.0125  4.00 2025-05-08
 11183   ZKIN   51526  4.01  4.0000  4.1000  3.97 2025-05-08

                  datetime
 10224 2025-05-08 04:00:00
 10225 2025-05-08 04:01:00
 10226 2025-05-08 04:02:00
 10227 2025-05-08 04:03:00
 10228 2025-05-08 04:04:00
 ...                   ...
 11179 2025-05-08 19:55:00
 11180 2025-05-08 19:56:00
 11181 2025-05-08 19:57:00
 11182 2025-05-08 19:58:00
 11183 2025-05-08 19:59:00

 [960 rows x 8 columns],
 {'ticker': 'ZKIN',
  'date_str': '2025-05-08',
  'date': Timestamp('2025-05-08 00:00:00'),
  'timeframe': '1m',
  'index': 0})